/*noinspection CssInvalidPropertyValue*/
body {
    background  : #EFEFEF;
    color       : _text-color-dark_;
    font-size   : 12px;
    font-family : "宋体";
    overflow-x  : hidden;
}

body, html, ul {
    padding : 0;
    margin  : 0;
}

a {
    color           : #3598DC;
    text-decoration : none;
    display         : block;
}

/*
    页面背景：#efefef
    导航条背景：#2d2d30
    风格红色：#e63737（导航已经红色线条）
    板块边框：#bcbcbc
    板块背景：#f8f8f8
    目前普通色用#333333 浅色用#999999 有连接可以点的用#3598dc
*/

header {
    line-height        : 55px;
    background         : #323236;
    -webkit-box-shadow : 0 6px 5px #323236;
    -moz-box-shadow    : 0 6px 5px #323236;
    box-shadow         : 0 6px 5px #323236;
    position           : relative;
}

header .decoration-bar {
    position   : absolute;
    height     : 5px;
    width      : 100%;
    background : _sub-color_;
}

#menu li {
    text-align   : center;
    display      : inline-block;
    width        : 88px;
    border-color : #232327;
    border-width : 0 1px 0 10px;
}

#menu li a {
    font-size   : 16px;
    font-weight : bold;
    color       : #FFF;
}

#menu li.current, #menu li:hover {
    background : _sub-color_;
}

.box {
    border-color : 1px solid _border-color_;
    background   : #F8F8F8 url(_image-root_/other/ball.png) 10px center no-repeat;
}

.box .title {
    line-height   : 40px;
    border-bottom : 5px solid _sub-color_;
}

.corrected-center {
    margin : 0 auto;
    width  : 980px;
}

.center {
    margin : 0 auto;
}