body {
    background  : #EFEFEF;
    color       : _text-color-dark_;
    font-size   : 12px;
    font-family : sans-serif;
    overflow-x  : hidden;
}

body, html, ul {
    padding : 0;
    margin  : 0;
}

ul, li {
    list-style-type: none;
}

a {
    color           : #3598DC;
    text-decoration : none;
}

input[type=text], input[type=password] {
    border                : 1px solid _border-color_;
    -webkit-border-radius : 5px;
    -moz-border-radius    : 5px;
    border-radius         : 5px;
    line-height           : 28px;
    padding               : 0 10px 0 10px;
}

button {
    -webkit-border-radius : 5px;
    -moz-border-radius    : 5px;
    border-radius         : 5px;
    border                : 1px solid _border-color_;
    height                : 28px;
    line-height           : 28px;
    text-align            : center;
    padding               : 0 10px 0 10px;
    cursor                : pointer;
    font-size             : 14px;
    font-weight           : bold;
    color                 : #323236;
}

.box {
    border                : 1px solid _border-color_;
    -webkit-border-radius : 5px;
    -moz-border-radius    : 5px;
    border-radius         : 5px;
    background            : _box-bg-color_;
}

.box .title {
    line-height                     : 40px;
    height                          : 40px;
    border-bottom                   : 3px solid _sub-color_;
    background                      : _box-bg-color_ url(_image-root_/other/ball.png) 10px center no-repeat;
    padding-left                    : 40px;
    font-size                       : 14px;
    font-weight                     : bold;
    color                           : #4E5774;
    -webkit-border-top-left-radius  : 5px;
    -moz-border-top-left-radius     : 5px;
    border-top-left-radius          : 5px;
    -webkit-border-top-right-radius : 5px;
    -moz-border-top-right-radius    : 5px;
    border-top-right-radius         : 5px;
}

.box .content {
    padding : 10px;
    display : block;
}

.corrected-center {
    margin : 0 auto;
    width  : 980px;
}

.center {
    margin : 0 auto;
}

.float-left {
    float : left;
}

.float-right {
    float : right;
}

.bold {
    font-weight: bold;
}

.inline-block {
    display: inline-block;
}

.border {
    border: 1px solid _border-color_;
    -webkit-border-radius : 5px;
    -moz-border-radius    : 5px;
    border-radius         : 5px;
}

/*
    页面背景：#efefef
    导航条背景：#2d2d30
    风格红色：#e63737（导航已经红色线条）
    板块边框：#bcbcbc
    板块背景：#f8f8f8
    目前普通色用#333333 浅色用#999999 有连接可以点的用#3598dc
*/

header {
    line-height        : 55px;
    background         : #323236;
    -webkit-box-shadow : 0 1px 5px #323236;
    -moz-box-shadow    : 0 1px 5px #323236;
    box-shadow         : 0 1px 5px #323236;
    position           : relative;
}

header .decoration-bar {
    position   : absolute;
    height     : 5px;
    width      : 100%;
    background : _sub-color_;
    bottom     : 1px;
}

#menu {
    font-size : 0;
}

#menu li {
    text-align   : center;
    display      : inline-block;
    width        : 88px;
    border       : solid #232327;
    border-width : 0 1px 0 0;
}

#menu li:first-child {
    border-width : 0 1px 0 1px;
}

#menu li a {
    font-size   : 16px;
    font-weight : bold;
    color       : #FFF;
    display     : block;
}

#menu li.current, #menu li:hover {
    background : _sub-color_;
}

main, footer {
    margin : 25px auto;
    width  : 980px;
}

footer {
    text-align : center;
}

.avatar {
    width: 40px;
    height: 40px;
}