.pokemon {
    margin : 10px 15px 5px 15px;
}

.pokemon .bottom {
    bottom : -10px;
}

table.main {
    min-height: 600px;
}

table.main .header {
    line-height : 22px;
    background  : #323236;
    font-family : '幼圆';
}

table.main .header hr {
    margin : 10px -15px 5px -15px;
    border : 1px solid #4D4D54;
}

table.main .header .username {
    color     : #3092C8;
    font-size : 12px;
}

table.main .header .ranking {
    color     : #E63737;
    font-size : 16px;
}

table.main .header .signature {
    color : #656E89;
}

table.main .header .stat {
    height      : 40px;
    line-height : 20px;
    width       : 31%;
    margin      : 10px 0 10px 0;
    text-align  : center;
    font-size   : 16px;
}

table.main .header .stat > span {
    font-size : 12px;
}

table.main .info textarea {
    width       : 268px;
    height      : 43px;
    margin-left : 15px;
}

table.main .info button {
    background : #E63737;
    width      : 280px;
    height     : 35px;
    margin     : 10px 0 0 15px;
}

.inventory {
    position : relative;
}

table.main .inventory-party {
    width      : 190px;
    padding    : 15px 10px 20px 20px;
    background : #EFEFEF;
}

.item-list li {
    display       : inline-block;
    padding       : 12px;
    border        : 1px solid _border-color_;
    border-radius : 5px;
    background    : #EFEFEF;
    margin        : 15px 15px 0 0;
    cursor        : pointer;
}

.item-list li:hover {
    background : #FFF;
}

.inbox {
    margin : -10px -15px 0 -15px;
}

.inbox li {
    display       : block;
    clear         : both;
    padding       : 15px 30px 15px 30px;
    line-height   : 20px;
    border-bottom : 1px solid _border-color_;
}

.inbox li .avatar {
    margin-right : 10px;
}

.inbox li:hover {
    background : #FFF;
}

.inbox a {
    color : #E63737;
}

.inbox .deletion {
    background : url(_image-root_/other/sprite-deletion.png);
    width      : 20px;
    height     : 20px;
}

.inbox .deletion:hover {
    background-position : 0 -20px;
    cursor              : pointer;
}

.inbox .dateline, .inbox .deletion {
    float   : right;
    display : inline-block;
    margin  : -10px 0 0 20px;
}

.pokedex {
    height     : 490px;
    overflow-y : scroll;
    margin     : 20px auto;
    width      : 700px;
}

.pokedex li {
    display       : inline;
    width         : 54px;
    height        : 54px;
    border        : 1px solid _border-color_;
    border-radius : 5px;
    float         : left;
    background    : #FFF;
    margin        : 0 12px 12px 0;
    text-align    : center;
    cursor        : pointer;
}

.pokedex li:hover {
    opacity : 1;
}

.pokedex .not-collected, .pokedex .not-met {
    opacity : .5;
}

.pokedex div {
    width  : 32px;
    height : 29px;
}

.pop-up.pokemon-info .content {
    padding     : 0;
    line-height : 18px;
}

.pop-up.pokemon-info .border-right {
    min-width : 130px;
}

.pop-up.pokemon-info td {
    border : 0;
}

.pop-up.pokemon-info .relative {
    height : 120px;
}

.pop-up.pokemon-info .pokemon-info > tbody > tr > td {
    padding : 15px;
}

.pop-up.pokemon-info .info {
    width         : 240px;
    margin-bottom : 10px;
}

.pop-up.pokemon-info .info tr > td:nth-child(odd):not([colspan]) {
    width : 20%;
}

.pop-up.pokemon-info .info tr > td:nth-child(even):not([colspan]) {
    width : 30%;
}