/*var str = '';
for(var i = 0; i < 722; i++) {
    var x = -((i % 12) * 32);
    var y = -(Math.floor(i / 12) * 32);
    str += '.picon.p' + i + ' { background-position: ' + (x ? x + 'px' : x)  + ' ' + (y ? y + 'px' : y) + '; }\n';
}*/

span.picon {
    display    : inline-block;
    width      : 32px;
    height     : 32px;
    background : url(_image-root_/pokemon-icon/sheet-32x32.png);
}
.picon.p0 { background-position: 0 0; }
.picon.p1 { background-position: -32px 0; }
.picon.p2 { background-position: -64px 0; }
.picon.p3 { background-position: -96px 0; }
.picon.p4 { background-position: -128px 0; }
.picon.p5 { background-position: -160px 0; }
.picon.p6 { background-position: -192px 0; }
.picon.p7 { background-position: -224px 0; }
.picon.p8 { background-position: -256px 0; }
.picon.p9 { background-position: -288px 0; }
.picon.p10 { background-position: -320px 0; }
.picon.p11 { background-position: -352px 0; }
.picon.p12 { background-position: 0 -32px; }
.picon.p13 { background-position: -32px -32px; }
.picon.p14 { background-position: -64px -32px; }
.picon.p15 { background-position: -96px -32px; }
.picon.p16 { background-position: -128px -32px; }
.picon.p17 { background-position: -160px -32px; }
.picon.p18 { background-position: -192px -32px; }
.picon.p19 { background-position: -224px -32px; }
.picon.p20 { background-position: -256px -32px; }
.picon.p21 { background-position: -288px -32px; }
.picon.p22 { background-position: -320px -32px; }
.picon.p23 { background-position: -352px -32px; }
.picon.p24 { background-position: 0 -64px; }
.picon.p25 { background-position: -32px -64px; }
.picon.p26 { background-position: -64px -64px; }
.picon.p27 { background-position: -96px -64px; }
.picon.p28 { background-position: -128px -64px; }
.picon.p29 { background-position: -160px -64px; }
.picon.p30 { background-position: -192px -64px; }
.picon.p31 { background-position: -224px -64px; }
.picon.p32 { background-position: -256px -64px; }
.picon.p33 { background-position: -288px -64px; }
.picon.p34 { background-position: -320px -64px; }
.picon.p35 { background-position: -352px -64px; }
.picon.p36 { background-position: 0 -96px; }
.picon.p37 { background-position: -32px -96px; }
.picon.p38 { background-position: -64px -96px; }
.picon.p39 { background-position: -96px -96px; }
.picon.p40 { background-position: -128px -96px; }
.picon.p41 { background-position: -160px -96px; }
.picon.p42 { background-position: -192px -96px; }
.picon.p43 { background-position: -224px -96px; }
.picon.p44 { background-position: -256px -96px; }
.picon.p45 { background-position: -288px -96px; }
.picon.p46 { background-position: -320px -96px; }
.picon.p47 { background-position: -352px -96px; }
.picon.p48 { background-position: 0 -128px; }
.picon.p49 { background-position: -32px -128px; }
.picon.p50 { background-position: -64px -128px; }
.picon.p51 { background-position: -96px -128px; }
.picon.p52 { background-position: -128px -128px; }
.picon.p53 { background-position: -160px -128px; }
.picon.p54 { background-position: -192px -128px; }
.picon.p55 { background-position: -224px -128px; }
.picon.p56 { background-position: -256px -128px; }
.picon.p57 { background-position: -288px -128px; }
.picon.p58 { background-position: -320px -128px; }
.picon.p59 { background-position: -352px -128px; }
.picon.p60 { background-position: 0 -160px; }
.picon.p61 { background-position: -32px -160px; }
.picon.p62 { background-position: -64px -160px; }
.picon.p63 { background-position: -96px -160px; }
.picon.p64 { background-position: -128px -160px; }
.picon.p65 { background-position: -160px -160px; }
.picon.p66 { background-position: -192px -160px; }
.picon.p67 { background-position: -224px -160px; }
.picon.p68 { background-position: -256px -160px; }
.picon.p69 { background-position: -288px -160px; }
.picon.p70 { background-position: -320px -160px; }
.picon.p71 { background-position: -352px -160px; }
.picon.p72 { background-position: 0 -192px; }
.picon.p73 { background-position: -32px -192px; }
.picon.p74 { background-position: -64px -192px; }
.picon.p75 { background-position: -96px -192px; }
.picon.p76 { background-position: -128px -192px; }
.picon.p77 { background-position: -160px -192px; }
.picon.p78 { background-position: -192px -192px; }
.picon.p79 { background-position: -224px -192px; }
.picon.p80 { background-position: -256px -192px; }
.picon.p81 { background-position: -288px -192px; }
.picon.p82 { background-position: -320px -192px; }
.picon.p83 { background-position: -352px -192px; }
.picon.p84 { background-position: 0 -224px; }
.picon.p85 { background-position: -32px -224px; }
.picon.p86 { background-position: -64px -224px; }
.picon.p87 { background-position: -96px -224px; }
.picon.p88 { background-position: -128px -224px; }
.picon.p89 { background-position: -160px -224px; }
.picon.p90 { background-position: -192px -224px; }
.picon.p91 { background-position: -224px -224px; }
.picon.p92 { background-position: -256px -224px; }
.picon.p93 { background-position: -288px -224px; }
.picon.p94 { background-position: -320px -224px; }
.picon.p95 { background-position: -352px -224px; }
.picon.p96 { background-position: 0 -256px; }
.picon.p97 { background-position: -32px -256px; }
.picon.p98 { background-position: -64px -256px; }
.picon.p99 { background-position: -96px -256px; }
.picon.p100 { background-position: -128px -256px; }
.picon.p101 { background-position: -160px -256px; }
.picon.p102 { background-position: -192px -256px; }
.picon.p103 { background-position: -224px -256px; }
.picon.p104 { background-position: -256px -256px; }
.picon.p105 { background-position: -288px -256px; }
.picon.p106 { background-position: -320px -256px; }
.picon.p107 { background-position: -352px -256px; }
.picon.p108 { background-position: 0 -288px; }
.picon.p109 { background-position: -32px -288px; }
.picon.p110 { background-position: -64px -288px; }
.picon.p111 { background-position: -96px -288px; }
.picon.p112 { background-position: -128px -288px; }
.picon.p113 { background-position: -160px -288px; }
.picon.p114 { background-position: -192px -288px; }
.picon.p115 { background-position: -224px -288px; }
.picon.p116 { background-position: -256px -288px; }
.picon.p117 { background-position: -288px -288px; }
.picon.p118 { background-position: -320px -288px; }
.picon.p119 { background-position: -352px -288px; }
.picon.p120 { background-position: 0 -320px; }
.picon.p121 { background-position: -32px -320px; }
.picon.p122 { background-position: -64px -320px; }
.picon.p123 { background-position: -96px -320px; }
.picon.p124 { background-position: -128px -320px; }
.picon.p125 { background-position: -160px -320px; }
.picon.p126 { background-position: -192px -320px; }
.picon.p127 { background-position: -224px -320px; }
.picon.p128 { background-position: -256px -320px; }
.picon.p129 { background-position: -288px -320px; }
.picon.p130 { background-position: -320px -320px; }
.picon.p131 { background-position: -352px -320px; }
.picon.p132 { background-position: 0 -352px; }
.picon.p133 { background-position: -32px -352px; }
.picon.p134 { background-position: -64px -352px; }
.picon.p135 { background-position: -96px -352px; }
.picon.p136 { background-position: -128px -352px; }
.picon.p137 { background-position: -160px -352px; }
.picon.p138 { background-position: -192px -352px; }
.picon.p139 { background-position: -224px -352px; }
.picon.p140 { background-position: -256px -352px; }
.picon.p141 { background-position: -288px -352px; }
.picon.p142 { background-position: -320px -352px; }
.picon.p143 { background-position: -352px -352px; }
.picon.p144 { background-position: 0 -384px; }
.picon.p145 { background-position: -32px -384px; }
.picon.p146 { background-position: -64px -384px; }
.picon.p147 { background-position: -96px -384px; }
.picon.p148 { background-position: -128px -384px; }
.picon.p149 { background-position: -160px -384px; }
.picon.p150 { background-position: -192px -384px; }
.picon.p151 { background-position: -224px -384px; }
.picon.p152 { background-position: -256px -384px; }
.picon.p153 { background-position: -288px -384px; }
.picon.p154 { background-position: -320px -384px; }
.picon.p155 { background-position: -352px -384px; }
.picon.p156 { background-position: 0 -416px; }
.picon.p157 { background-position: -32px -416px; }
.picon.p158 { background-position: -64px -416px; }
.picon.p159 { background-position: -96px -416px; }
.picon.p160 { background-position: -128px -416px; }
.picon.p161 { background-position: -160px -416px; }
.picon.p162 { background-position: -192px -416px; }
.picon.p163 { background-position: -224px -416px; }
.picon.p164 { background-position: -256px -416px; }
.picon.p165 { background-position: -288px -416px; }
.picon.p166 { background-position: -320px -416px; }
.picon.p167 { background-position: -352px -416px; }
.picon.p168 { background-position: 0 -448px; }
.picon.p169 { background-position: -32px -448px; }
.picon.p170 { background-position: -64px -448px; }
.picon.p171 { background-position: -96px -448px; }
.picon.p172 { background-position: -128px -448px; }
.picon.p173 { background-position: -160px -448px; }
.picon.p174 { background-position: -192px -448px; }
.picon.p175 { background-position: -224px -448px; }
.picon.p176 { background-position: -256px -448px; }
.picon.p177 { background-position: -288px -448px; }
.picon.p178 { background-position: -320px -448px; }
.picon.p179 { background-position: -352px -448px; }
.picon.p180 { background-position: 0 -480px; }
.picon.p181 { background-position: -32px -480px; }
.picon.p182 { background-position: -64px -480px; }
.picon.p183 { background-position: -96px -480px; }
.picon.p184 { background-position: -128px -480px; }
.picon.p185 { background-position: -160px -480px; }
.picon.p186 { background-position: -192px -480px; }
.picon.p187 { background-position: -224px -480px; }
.picon.p188 { background-position: -256px -480px; }
.picon.p189 { background-position: -288px -480px; }
.picon.p190 { background-position: -320px -480px; }
.picon.p191 { background-position: -352px -480px; }
.picon.p192 { background-position: 0 -512px; }
.picon.p193 { background-position: -32px -512px; }
.picon.p194 { background-position: -64px -512px; }
.picon.p195 { background-position: -96px -512px; }
.picon.p196 { background-position: -128px -512px; }
.picon.p197 { background-position: -160px -512px; }
.picon.p198 { background-position: -192px -512px; }
.picon.p199 { background-position: -224px -512px; }
.picon.p200 { background-position: -256px -512px; }
.picon.p201 { background-position: -288px -512px; }
.picon.p202 { background-position: -320px -512px; }
.picon.p203 { background-position: -352px -512px; }
.picon.p204 { background-position: 0 -544px; }
.picon.p205 { background-position: -32px -544px; }
.picon.p206 { background-position: -64px -544px; }
.picon.p207 { background-position: -96px -544px; }
.picon.p208 { background-position: -128px -544px; }
.picon.p209 { background-position: -160px -544px; }
.picon.p210 { background-position: -192px -544px; }
.picon.p211 { background-position: -224px -544px; }
.picon.p212 { background-position: -256px -544px; }
.picon.p213 { background-position: -288px -544px; }
.picon.p214 { background-position: -320px -544px; }
.picon.p215 { background-position: -352px -544px; }
.picon.p216 { background-position: 0 -576px; }
.picon.p217 { background-position: -32px -576px; }
.picon.p218 { background-position: -64px -576px; }
.picon.p219 { background-position: -96px -576px; }
.picon.p220 { background-position: -128px -576px; }
.picon.p221 { background-position: -160px -576px; }
.picon.p222 { background-position: -192px -576px; }
.picon.p223 { background-position: -224px -576px; }
.picon.p224 { background-position: -256px -576px; }
.picon.p225 { background-position: -288px -576px; }
.picon.p226 { background-position: -320px -576px; }
.picon.p227 { background-position: -352px -576px; }
.picon.p228 { background-position: 0 -608px; }
.picon.p229 { background-position: -32px -608px; }
.picon.p230 { background-position: -64px -608px; }
.picon.p231 { background-position: -96px -608px; }
.picon.p232 { background-position: -128px -608px; }
.picon.p233 { background-position: -160px -608px; }
.picon.p234 { background-position: -192px -608px; }
.picon.p235 { background-position: -224px -608px; }
.picon.p236 { background-position: -256px -608px; }
.picon.p237 { background-position: -288px -608px; }
.picon.p238 { background-position: -320px -608px; }
.picon.p239 { background-position: -352px -608px; }
.picon.p240 { background-position: 0 -640px; }
.picon.p241 { background-position: -32px -640px; }
.picon.p242 { background-position: -64px -640px; }
.picon.p243 { background-position: -96px -640px; }
.picon.p244 { background-position: -128px -640px; }
.picon.p245 { background-position: -160px -640px; }
.picon.p246 { background-position: -192px -640px; }
.picon.p247 { background-position: -224px -640px; }
.picon.p248 { background-position: -256px -640px; }
.picon.p249 { background-position: -288px -640px; }
.picon.p250 { background-position: -320px -640px; }
.picon.p251 { background-position: -352px -640px; }
.picon.p252 { background-position: 0 -672px; }
.picon.p253 { background-position: -32px -672px; }
.picon.p254 { background-position: -64px -672px; }
.picon.p255 { background-position: -96px -672px; }
.picon.p256 { background-position: -128px -672px; }
.picon.p257 { background-position: -160px -672px; }
.picon.p258 { background-position: -192px -672px; }
.picon.p259 { background-position: -224px -672px; }
.picon.p260 { background-position: -256px -672px; }
.picon.p261 { background-position: -288px -672px; }
.picon.p262 { background-position: -320px -672px; }
.picon.p263 { background-position: -352px -672px; }
.picon.p264 { background-position: 0 -704px; }
.picon.p265 { background-position: -32px -704px; }
.picon.p266 { background-position: -64px -704px; }
.picon.p267 { background-position: -96px -704px; }
.picon.p268 { background-position: -128px -704px; }
.picon.p269 { background-position: -160px -704px; }
.picon.p270 { background-position: -192px -704px; }
.picon.p271 { background-position: -224px -704px; }
.picon.p272 { background-position: -256px -704px; }
.picon.p273 { background-position: -288px -704px; }
.picon.p274 { background-position: -320px -704px; }
.picon.p275 { background-position: -352px -704px; }
.picon.p276 { background-position: 0 -736px; }
.picon.p277 { background-position: -32px -736px; }
.picon.p278 { background-position: -64px -736px; }
.picon.p279 { background-position: -96px -736px; }
.picon.p280 { background-position: -128px -736px; }
.picon.p281 { background-position: -160px -736px; }
.picon.p282 { background-position: -192px -736px; }
.picon.p283 { background-position: -224px -736px; }
.picon.p284 { background-position: -256px -736px; }
.picon.p285 { background-position: -288px -736px; }
.picon.p286 { background-position: -320px -736px; }
.picon.p287 { background-position: -352px -736px; }
.picon.p288 { background-position: 0 -768px; }
.picon.p289 { background-position: -32px -768px; }
.picon.p290 { background-position: -64px -768px; }
.picon.p291 { background-position: -96px -768px; }
.picon.p292 { background-position: -128px -768px; }
.picon.p293 { background-position: -160px -768px; }
.picon.p294 { background-position: -192px -768px; }
.picon.p295 { background-position: -224px -768px; }
.picon.p296 { background-position: -256px -768px; }
.picon.p297 { background-position: -288px -768px; }
.picon.p298 { background-position: -320px -768px; }
.picon.p299 { background-position: -352px -768px; }
.picon.p300 { background-position: 0 -800px; }
.picon.p301 { background-position: -32px -800px; }
.picon.p302 { background-position: -64px -800px; }
.picon.p303 { background-position: -96px -800px; }
.picon.p304 { background-position: -128px -800px; }
.picon.p305 { background-position: -160px -800px; }
.picon.p306 { background-position: -192px -800px; }
.picon.p307 { background-position: -224px -800px; }
.picon.p308 { background-position: -256px -800px; }
.picon.p309 { background-position: -288px -800px; }
.picon.p310 { background-position: -320px -800px; }
.picon.p311 { background-position: -352px -800px; }
.picon.p312 { background-position: 0 -832px; }
.picon.p313 { background-position: -32px -832px; }
.picon.p314 { background-position: -64px -832px; }
.picon.p315 { background-position: -96px -832px; }
.picon.p316 { background-position: -128px -832px; }
.picon.p317 { background-position: -160px -832px; }
.picon.p318 { background-position: -192px -832px; }
.picon.p319 { background-position: -224px -832px; }
.picon.p320 { background-position: -256px -832px; }
.picon.p321 { background-position: -288px -832px; }
.picon.p322 { background-position: -320px -832px; }
.picon.p323 { background-position: -352px -832px; }
.picon.p324 { background-position: 0 -864px; }
.picon.p325 { background-position: -32px -864px; }
.picon.p326 { background-position: -64px -864px; }
.picon.p327 { background-position: -96px -864px; }
.picon.p328 { background-position: -128px -864px; }
.picon.p329 { background-position: -160px -864px; }
.picon.p330 { background-position: -192px -864px; }
.picon.p331 { background-position: -224px -864px; }
.picon.p332 { background-position: -256px -864px; }
.picon.p333 { background-position: -288px -864px; }
.picon.p334 { background-position: -320px -864px; }
.picon.p335 { background-position: -352px -864px; }
.picon.p336 { background-position: 0 -896px; }
.picon.p337 { background-position: -32px -896px; }
.picon.p338 { background-position: -64px -896px; }
.picon.p339 { background-position: -96px -896px; }
.picon.p340 { background-position: -128px -896px; }
.picon.p341 { background-position: -160px -896px; }
.picon.p342 { background-position: -192px -896px; }
.picon.p343 { background-position: -224px -896px; }
.picon.p344 { background-position: -256px -896px; }
.picon.p345 { background-position: -288px -896px; }
.picon.p346 { background-position: -320px -896px; }
.picon.p347 { background-position: -352px -896px; }
.picon.p348 { background-position: 0 -928px; }
.picon.p349 { background-position: -32px -928px; }
.picon.p350 { background-position: -64px -928px; }
.picon.p351 { background-position: -96px -928px; }
.picon.p352 { background-position: -128px -928px; }
.picon.p353 { background-position: -160px -928px; }
.picon.p354 { background-position: -192px -928px; }
.picon.p355 { background-position: -224px -928px; }
.picon.p356 { background-position: -256px -928px; }
.picon.p357 { background-position: -288px -928px; }
.picon.p358 { background-position: -320px -928px; }
.picon.p359 { background-position: -352px -928px; }
.picon.p360 { background-position: 0 -960px; }
.picon.p361 { background-position: -32px -960px; }
.picon.p362 { background-position: -64px -960px; }
.picon.p363 { background-position: -96px -960px; }
.picon.p364 { background-position: -128px -960px; }
.picon.p365 { background-position: -160px -960px; }
.picon.p366 { background-position: -192px -960px; }
.picon.p367 { background-position: -224px -960px; }
.picon.p368 { background-position: -256px -960px; }
.picon.p369 { background-position: -288px -960px; }
.picon.p370 { background-position: -320px -960px; }
.picon.p371 { background-position: -352px -960px; }
.picon.p372 { background-position: 0 -992px; }
.picon.p373 { background-position: -32px -992px; }
.picon.p374 { background-position: -64px -992px; }
.picon.p375 { background-position: -96px -992px; }
.picon.p376 { background-position: -128px -992px; }
.picon.p377 { background-position: -160px -992px; }
.picon.p378 { background-position: -192px -992px; }
.picon.p379 { background-position: -224px -992px; }
.picon.p380 { background-position: -256px -992px; }
.picon.p381 { background-position: -288px -992px; }
.picon.p382 { background-position: -320px -992px; }
.picon.p383 { background-position: -352px -992px; }
.picon.p384 { background-position: 0 -1024px; }
.picon.p385 { background-position: -32px -1024px; }
.picon.p386 { background-position: -64px -1024px; }
.picon.p387 { background-position: -96px -1024px; }
.picon.p388 { background-position: -128px -1024px; }
.picon.p389 { background-position: -160px -1024px; }
.picon.p390 { background-position: -192px -1024px; }
.picon.p391 { background-position: -224px -1024px; }
.picon.p392 { background-position: -256px -1024px; }
.picon.p393 { background-position: -288px -1024px; }
.picon.p394 { background-position: -320px -1024px; }
.picon.p395 { background-position: -352px -1024px; }
.picon.p396 { background-position: 0 -1056px; }
.picon.p397 { background-position: -32px -1056px; }
.picon.p398 { background-position: -64px -1056px; }
.picon.p399 { background-position: -96px -1056px; }
.picon.p400 { background-position: -128px -1056px; }
.picon.p401 { background-position: -160px -1056px; }
.picon.p402 { background-position: -192px -1056px; }
.picon.p403 { background-position: -224px -1056px; }
.picon.p404 { background-position: -256px -1056px; }
.picon.p405 { background-position: -288px -1056px; }
.picon.p406 { background-position: -320px -1056px; }
.picon.p407 { background-position: -352px -1056px; }
.picon.p408 { background-position: 0 -1088px; }
.picon.p409 { background-position: -32px -1088px; }
.picon.p410 { background-position: -64px -1088px; }
.picon.p411 { background-position: -96px -1088px; }
.picon.p412 { background-position: -128px -1088px; }
.picon.p413 { background-position: -160px -1088px; }
.picon.p414 { background-position: -192px -1088px; }
.picon.p415 { background-position: -224px -1088px; }
.picon.p416 { background-position: -256px -1088px; }
.picon.p417 { background-position: -288px -1088px; }
.picon.p418 { background-position: -320px -1088px; }
.picon.p419 { background-position: -352px -1088px; }
.picon.p420 { background-position: 0 -1120px; }
.picon.p421 { background-position: -32px -1120px; }
.picon.p422 { background-position: -64px -1120px; }
.picon.p423 { background-position: -96px -1120px; }
.picon.p424 { background-position: -128px -1120px; }
.picon.p425 { background-position: -160px -1120px; }
.picon.p426 { background-position: -192px -1120px; }
.picon.p427 { background-position: -224px -1120px; }
.picon.p428 { background-position: -256px -1120px; }
.picon.p429 { background-position: -288px -1120px; }
.picon.p430 { background-position: -320px -1120px; }
.picon.p431 { background-position: -352px -1120px; }
.picon.p432 { background-position: 0 -1152px; }
.picon.p433 { background-position: -32px -1152px; }
.picon.p434 { background-position: -64px -1152px; }
.picon.p435 { background-position: -96px -1152px; }
.picon.p436 { background-position: -128px -1152px; }
.picon.p437 { background-position: -160px -1152px; }
.picon.p438 { background-position: -192px -1152px; }
.picon.p439 { background-position: -224px -1152px; }
.picon.p440 { background-position: -256px -1152px; }
.picon.p441 { background-position: -288px -1152px; }
.picon.p442 { background-position: -320px -1152px; }
.picon.p443 { background-position: -352px -1152px; }
.picon.p444 { background-position: 0 -1184px; }
.picon.p445 { background-position: -32px -1184px; }
.picon.p446 { background-position: -64px -1184px; }
.picon.p447 { background-position: -96px -1184px; }
.picon.p448 { background-position: -128px -1184px; }
.picon.p449 { background-position: -160px -1184px; }
.picon.p450 { background-position: -192px -1184px; }
.picon.p451 { background-position: -224px -1184px; }
.picon.p452 { background-position: -256px -1184px; }
.picon.p453 { background-position: -288px -1184px; }
.picon.p454 { background-position: -320px -1184px; }
.picon.p455 { background-position: -352px -1184px; }
.picon.p456 { background-position: 0 -1216px; }
.picon.p457 { background-position: -32px -1216px; }
.picon.p458 { background-position: -64px -1216px; }
.picon.p459 { background-position: -96px -1216px; }
.picon.p460 { background-position: -128px -1216px; }
.picon.p461 { background-position: -160px -1216px; }
.picon.p462 { background-position: -192px -1216px; }
.picon.p463 { background-position: -224px -1216px; }
.picon.p464 { background-position: -256px -1216px; }
.picon.p465 { background-position: -288px -1216px; }
.picon.p466 { background-position: -320px -1216px; }
.picon.p467 { background-position: -352px -1216px; }
.picon.p468 { background-position: 0 -1248px; }
.picon.p469 { background-position: -32px -1248px; }
.picon.p470 { background-position: -64px -1248px; }
.picon.p471 { background-position: -96px -1248px; }
.picon.p472 { background-position: -128px -1248px; }
.picon.p473 { background-position: -160px -1248px; }
.picon.p474 { background-position: -192px -1248px; }
.picon.p475 { background-position: -224px -1248px; }
.picon.p476 { background-position: -256px -1248px; }
.picon.p477 { background-position: -288px -1248px; }
.picon.p478 { background-position: -320px -1248px; }
.picon.p479 { background-position: -352px -1248px; }
.picon.p480 { background-position: 0 -1280px; }
.picon.p481 { background-position: -32px -1280px; }
.picon.p482 { background-position: -64px -1280px; }
.picon.p483 { background-position: -96px -1280px; }
.picon.p484 { background-position: -128px -1280px; }
.picon.p485 { background-position: -160px -1280px; }
.picon.p486 { background-position: -192px -1280px; }
.picon.p487 { background-position: -224px -1280px; }
.picon.p488 { background-position: -256px -1280px; }
.picon.p489 { background-position: -288px -1280px; }
.picon.p490 { background-position: -320px -1280px; }
.picon.p491 { background-position: -352px -1280px; }
.picon.p492 { background-position: 0 -1312px; }
.picon.p493 { background-position: -32px -1312px; }
.picon.p494 { background-position: -64px -1312px; }
.picon.p495 { background-position: -96px -1312px; }
.picon.p496 { background-position: -128px -1312px; }
.picon.p497 { background-position: -160px -1312px; }
.picon.p498 { background-position: -192px -1312px; }
.picon.p499 { background-position: -224px -1312px; }
.picon.p500 { background-position: -256px -1312px; }
.picon.p501 { background-position: -288px -1312px; }
.picon.p502 { background-position: -320px -1312px; }
.picon.p503 { background-position: -352px -1312px; }
.picon.p504 { background-position: 0 -1344px; }
.picon.p505 { background-position: -32px -1344px; }
.picon.p506 { background-position: -64px -1344px; }
.picon.p507 { background-position: -96px -1344px; }
.picon.p508 { background-position: -128px -1344px; }
.picon.p509 { background-position: -160px -1344px; }
.picon.p510 { background-position: -192px -1344px; }
.picon.p511 { background-position: -224px -1344px; }
.picon.p512 { background-position: -256px -1344px; }
.picon.p513 { background-position: -288px -1344px; }
.picon.p514 { background-position: -320px -1344px; }
.picon.p515 { background-position: -352px -1344px; }
.picon.p516 { background-position: 0 -1376px; }
.picon.p517 { background-position: -32px -1376px; }
.picon.p518 { background-position: -64px -1376px; }
.picon.p519 { background-position: -96px -1376px; }
.picon.p520 { background-position: -128px -1376px; }
.picon.p521 { background-position: -160px -1376px; }
.picon.p522 { background-position: -192px -1376px; }
.picon.p523 { background-position: -224px -1376px; }
.picon.p524 { background-position: -256px -1376px; }
.picon.p525 { background-position: -288px -1376px; }
.picon.p526 { background-position: -320px -1376px; }
.picon.p527 { background-position: -352px -1376px; }
.picon.p528 { background-position: 0 -1408px; }
.picon.p529 { background-position: -32px -1408px; }
.picon.p530 { background-position: -64px -1408px; }
.picon.p531 { background-position: -96px -1408px; }
.picon.p532 { background-position: -128px -1408px; }
.picon.p533 { background-position: -160px -1408px; }
.picon.p534 { background-position: -192px -1408px; }
.picon.p535 { background-position: -224px -1408px; }
.picon.p536 { background-position: -256px -1408px; }
.picon.p537 { background-position: -288px -1408px; }
.picon.p538 { background-position: -320px -1408px; }
.picon.p539 { background-position: -352px -1408px; }
.picon.p540 { background-position: 0 -1440px; }
.picon.p541 { background-position: -32px -1440px; }
.picon.p542 { background-position: -64px -1440px; }
.picon.p543 { background-position: -96px -1440px; }
.picon.p544 { background-position: -128px -1440px; }
.picon.p545 { background-position: -160px -1440px; }
.picon.p546 { background-position: -192px -1440px; }
.picon.p547 { background-position: -224px -1440px; }
.picon.p548 { background-position: -256px -1440px; }
.picon.p549 { background-position: -288px -1440px; }
.picon.p550 { background-position: -320px -1440px; }
.picon.p551 { background-position: -352px -1440px; }
.picon.p552 { background-position: 0 -1472px; }
.picon.p553 { background-position: -32px -1472px; }
.picon.p554 { background-position: -64px -1472px; }
.picon.p555 { background-position: -96px -1472px; }
.picon.p556 { background-position: -128px -1472px; }
.picon.p557 { background-position: -160px -1472px; }
.picon.p558 { background-position: -192px -1472px; }
.picon.p559 { background-position: -224px -1472px; }
.picon.p560 { background-position: -256px -1472px; }
.picon.p561 { background-position: -288px -1472px; }
.picon.p562 { background-position: -320px -1472px; }
.picon.p563 { background-position: -352px -1472px; }
.picon.p564 { background-position: 0 -1504px; }
.picon.p565 { background-position: -32px -1504px; }
.picon.p566 { background-position: -64px -1504px; }
.picon.p567 { background-position: -96px -1504px; }
.picon.p568 { background-position: -128px -1504px; }
.picon.p569 { background-position: -160px -1504px; }
.picon.p570 { background-position: -192px -1504px; }
.picon.p571 { background-position: -224px -1504px; }
.picon.p572 { background-position: -256px -1504px; }
.picon.p573 { background-position: -288px -1504px; }
.picon.p574 { background-position: -320px -1504px; }
.picon.p575 { background-position: -352px -1504px; }
.picon.p576 { background-position: 0 -1536px; }
.picon.p577 { background-position: -32px -1536px; }
.picon.p578 { background-position: -64px -1536px; }
.picon.p579 { background-position: -96px -1536px; }
.picon.p580 { background-position: -128px -1536px; }
.picon.p581 { background-position: -160px -1536px; }
.picon.p582 { background-position: -192px -1536px; }
.picon.p583 { background-position: -224px -1536px; }
.picon.p584 { background-position: -256px -1536px; }
.picon.p585 { background-position: -288px -1536px; }
.picon.p586 { background-position: -320px -1536px; }
.picon.p587 { background-position: -352px -1536px; }
.picon.p588 { background-position: 0 -1568px; }
.picon.p589 { background-position: -32px -1568px; }
.picon.p590 { background-position: -64px -1568px; }
.picon.p591 { background-position: -96px -1568px; }
.picon.p592 { background-position: -128px -1568px; }
.picon.p593 { background-position: -160px -1568px; }
.picon.p594 { background-position: -192px -1568px; }
.picon.p595 { background-position: -224px -1568px; }
.picon.p596 { background-position: -256px -1568px; }
.picon.p597 { background-position: -288px -1568px; }
.picon.p598 { background-position: -320px -1568px; }
.picon.p599 { background-position: -352px -1568px; }
.picon.p600 { background-position: 0 -1600px; }
.picon.p601 { background-position: -32px -1600px; }
.picon.p602 { background-position: -64px -1600px; }
.picon.p603 { background-position: -96px -1600px; }
.picon.p604 { background-position: -128px -1600px; }
.picon.p605 { background-position: -160px -1600px; }
.picon.p606 { background-position: -192px -1600px; }
.picon.p607 { background-position: -224px -1600px; }
.picon.p608 { background-position: -256px -1600px; }
.picon.p609 { background-position: -288px -1600px; }
.picon.p610 { background-position: -320px -1600px; }
.picon.p611 { background-position: -352px -1600px; }
.picon.p612 { background-position: 0 -1632px; }
.picon.p613 { background-position: -32px -1632px; }
.picon.p614 { background-position: -64px -1632px; }
.picon.p615 { background-position: -96px -1632px; }
.picon.p616 { background-position: -128px -1632px; }
.picon.p617 { background-position: -160px -1632px; }
.picon.p618 { background-position: -192px -1632px; }
.picon.p619 { background-position: -224px -1632px; }
.picon.p620 { background-position: -256px -1632px; }
.picon.p621 { background-position: -288px -1632px; }
.picon.p622 { background-position: -320px -1632px; }
.picon.p623 { background-position: -352px -1632px; }
.picon.p624 { background-position: 0 -1664px; }
.picon.p625 { background-position: -32px -1664px; }
.picon.p626 { background-position: -64px -1664px; }
.picon.p627 { background-position: -96px -1664px; }
.picon.p628 { background-position: -128px -1664px; }
.picon.p629 { background-position: -160px -1664px; }
.picon.p630 { background-position: -192px -1664px; }
.picon.p631 { background-position: -224px -1664px; }
.picon.p632 { background-position: -256px -1664px; }
.picon.p633 { background-position: -288px -1664px; }
.picon.p634 { background-position: -320px -1664px; }
.picon.p635 { background-position: -352px -1664px; }
.picon.p636 { background-position: 0 -1696px; }
.picon.p637 { background-position: -32px -1696px; }
.picon.p638 { background-position: -64px -1696px; }
.picon.p639 { background-position: -96px -1696px; }
.picon.p640 { background-position: -128px -1696px; }
.picon.p641 { background-position: -160px -1696px; }
.picon.p642 { background-position: -192px -1696px; }
.picon.p643 { background-position: -224px -1696px; }
.picon.p644 { background-position: -256px -1696px; }
.picon.p645 { background-position: -288px -1696px; }
.picon.p646 { background-position: -320px -1696px; }
.picon.p647 { background-position: -352px -1696px; }
.picon.p648 { background-position: 0 -1728px; }
.picon.p649 { background-position: -32px -1728px; }
.picon.p650 { background-position: -64px -1728px; }
.picon.p651 { background-position: -96px -1728px; }
.picon.p652 { background-position: -128px -1728px; }
.picon.p653 { background-position: -160px -1728px; }
.picon.p654 { background-position: -192px -1728px; }
.picon.p655 { background-position: -224px -1728px; }
.picon.p656 { background-position: -256px -1728px; }
.picon.p657 { background-position: -288px -1728px; }
.picon.p658 { background-position: -320px -1728px; }
.picon.p659 { background-position: -352px -1728px; }
.picon.p660 { background-position: 0 -1760px; }
.picon.p661 { background-position: -32px -1760px; }
.picon.p662 { background-position: -64px -1760px; }
.picon.p663 { background-position: -96px -1760px; }
.picon.p664 { background-position: -128px -1760px; }
.picon.p665 { background-position: -160px -1760px; }
.picon.p666 { background-position: -192px -1760px; }
.picon.p667 { background-position: -224px -1760px; }
.picon.p668 { background-position: -256px -1760px; }
.picon.p669 { background-position: -288px -1760px; }
.picon.p670 { background-position: -320px -1760px; }
.picon.p671 { background-position: -352px -1760px; }
.picon.p672 { background-position: 0 -1792px; }
.picon.p673 { background-position: -32px -1792px; }
.picon.p674 { background-position: -64px -1792px; }
.picon.p675 { background-position: -96px -1792px; }
.picon.p676 { background-position: -128px -1792px; }
.picon.p677 { background-position: -160px -1792px; }
.picon.p678 { background-position: -192px -1792px; }
.picon.p679 { background-position: -224px -1792px; }
.picon.p680 { background-position: -256px -1792px; }
.picon.p681 { background-position: -288px -1792px; }
.picon.p682 { background-position: -320px -1792px; }
.picon.p683 { background-position: -352px -1792px; }
.picon.p684 { background-position: 0 -1824px; }
.picon.p685 { background-position: -32px -1824px; }
.picon.p686 { background-position: -64px -1824px; }
.picon.p687 { background-position: -96px -1824px; }
.picon.p688 { background-position: -128px -1824px; }
.picon.p689 { background-position: -160px -1824px; }
.picon.p690 { background-position: -192px -1824px; }
.picon.p691 { background-position: -224px -1824px; }
.picon.p692 { background-position: -256px -1824px; }
.picon.p693 { background-position: -288px -1824px; }
.picon.p694 { background-position: -320px -1824px; }
.picon.p695 { background-position: -352px -1824px; }
.picon.p696 { background-position: 0 -1856px; }
.picon.p697 { background-position: -32px -1856px; }
.picon.p698 { background-position: -64px -1856px; }
.picon.p699 { background-position: -96px -1856px; }
.picon.p700 { background-position: -128px -1856px; }
.picon.p701 { background-position: -160px -1856px; }
.picon.p702 { background-position: -192px -1856px; }
.picon.p703 { background-position: -224px -1856px; }
.picon.p704 { background-position: -256px -1856px; }
.picon.p705 { background-position: -288px -1856px; }
.picon.p706 { background-position: -320px -1856px; }
.picon.p707 { background-position: -352px -1856px; }
.picon.p708 { background-position: 0 -1888px; }
.picon.p709 { background-position: -32px -1888px; }
.picon.p710 { background-position: -64px -1888px; }
.picon.p711 { background-position: -96px -1888px; }
.picon.p712 { background-position: -128px -1888px; }
.picon.p713 { background-position: -160px -1888px; }
.picon.p714 { background-position: -192px -1888px; }
.picon.p715 { background-position: -224px -1888px; }
.picon.p716 { background-position: -256px -1888px; }
.picon.p717 { background-position: -288px -1888px; }
.picon.p718 { background-position: -320px -1888px; }
.picon.p719 { background-position: -352px -1888px; }
.picon.p720 { background-position: 0 -1920px; }
.picon.p721 { background-position: -32px -1920px; }